---
import FontDisplay from "@/components/FontDisplay.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="relative h-full mx-auto px-8">
    <FontDisplay client:idle />

    <div
      class="fixed text-sm bottom-6 inset-x-0 w-full font-semibold text-center px-4"
    >
      <div
        class="mx-auto w-full rounded-xl bg-slate-900/20 backdrop-blur-md p-4"
      >
        Texto prueba
      </div>
    </div>
  </main>
</Layout>
