---
import FontDisplay from "@/components/FontDisplay.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="relative h-full mx-auto px-8">
    <FontDisplay client:idle />

    <div
      class="fixed text-sm bottom-6 inset-x-0 w-full font-semibold text-center px-4"
    >
      <div
        class="mx-auto text-white shadow-md w-full max-w-lg rounded-2xl relative bg-white/10 backdrop-blur-2xl p-4 after:content-['_'] after:w-full after:h-full after:border-[0.5px] after:absolute after:top-0 after:left-0 after:border-[#ffffff42] after:rounded-[inherit]"
      >
        Texto prueba
      </div>
    </div>
  </main>
</Layout>
